MACOSX_DEPLOYMENT_TARGET = 15.0
SDKROOT = macosx
ARCHS = arm64 x86_64
ONLY_ACTIVE_ARCH = NO
SWIFT_VERSION = 5.0
SWIFT_STRICT_CONCURRENCY = targeted
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = -
ENABLE_HARDENED_RUNTIME = YES
ENABLE_APP_SANDBOX = NO
